<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body>

<div class="flex items-center min-h-screen p-4 bg-gray-100 lg:justify-center">
    <div class="flex flex-col overflow-hidden bg-white rounded-md shadow-lg max md:flex-row md:flex-1 lg:max-w-screen-md">
        <div class="p-4 py-6 text-white bg-blue-500 md:w-80 md:flex-shrink-0 md:flex md:flex-col md:items-center md:justify-evenly">
            <div class="my-3 text-4xl font-bold tracking-wider text-center">
                Your Details Are Safe
            </div>
            <p class="mt-6 font-normal text-center text-gray-300">If you win the raffle, your email address
                will only be passed on to whichever company is sponsoring the prize so they can contact you
                directly.
            </p>

            <p class="mt-6 font-normal text-center text-gray-300">
                If you don't win, we won't pass your information on to anybody at all. It's as simple as that.
            </p>
        </div>
        <div class="p-5 bg-white md:flex-1">
            <h3 class="my-4 text-2xl font-semibold text-gray-700">Symfony UK Usergroup Raffle</h3>

            {% block body %}{% endblock %}

        </div>
    </div>
</div>
</body>
</html>
